/* Removes Side Margins from Liferay Homepage */

/* Makes Navigation Bar go over entire page*/

#wrapper {
  padding: 0;
  margin: inherit;
}

/* Moves Logo and Site Number to the Right */

#banner > #heading {
  padding: 0px 40px 0px 40px;
}

/* Changes Footer Position and allows for insertion of Image*/

#footer {
  padding: 0px 40px 0px 40px;
}
